.navbar-brand {
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.navbar-brand:hover {
  text-decoration: none;
  color: #fff;
}

.navbar-nav .nav-item .nav-link {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
}

.hero .text-area {
  color: #fff;
}
.hero .text-area h1 {
  font-size: 4rem;
  font-weight: 400;
  line-height: 4.6875rem;
}
.hero .text-area p {
  line-height: 1.875rem;
  font-size: 1.1875rem;
}

.about .row .text-area p {
  font-size: 1.3125rem;
  line-height: 2.1875rem;
  color: #4a4a4a;
}

.features .row .text-area p {
  line-height: 1.875rem;
  color: #4a4a4a;
}
.features .row .text-area .list h6 {
  font-size: 1.3125rem;
}

.services .card .text-area {
  text-align: center;
}
.services .custom-arrow {
  font-size: 1.5rem;
  color: #fff;
}

.faq .faq-head {
  text-align: center;
}
.faq .faq-head h2 {
  font-size: 3rem;
  font-weight: 300;
}
.faq .faq-head p {
  font-size: 1.25rem;
  color: #4a4a4a;
}
.faq .text-area h2 {
  font-size: 2.1875rem;
}
.faq .text-area .content p {
  font-size: 1.25rem;
  color: #4a4a4a;
  line-height: 1.875rem;
}
.faq span {
  font-size: 20px;
}
.faq .accordion-area .accordion {
  font-size: 1.25rem;
}
.faq .accordion-area .accordion button {
  font-size: 1.5625rem;
}
.faq .accordion-area .accordion button:not(.collapsed) {
  color: #0088E8;
}

.footer .social-media li a {
  color: #fff;
  font-size: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

.find-out-btn, .map .row .form-area .send, .hero .row .text-area .find-out-btn {
  min-width: 10%;
  padding: 0.625rem 1.25rem;
  border-radius: 1.5625rem;
  background: #F55858;
  color: #fff;
  text-transform: uppercase;
}
.find-out-btn:hover, .map .row .form-area .send:hover, .hero .row .text-area .find-out-btn:hover {
  background: #0088E8;
}

.discover-btn, .services .card button, .about .row .text-area button {
  min-width: 30%;
  padding: 0.625rem 0.9375rem;
  border-radius: 1.5625rem;
  background: #00A3D4;
  color: #fff;
  text-transform: uppercase;
}
.discover-btn:hover, .services .card button:hover, .about .row .text-area button:hover {
  background: #0088E8;
}

.card, .services .card {
  border-radius: 0;
  width: 31.25rem;
  height: 24.6875rem;
  padding: 1.25rem;
}
.card .img-area {
  margin: 0 auto;
}
.card .img-area figure {
  background: #009DD7;
  padding: 1.25rem;
  border-radius: 50%;
  max-width: 100px;
}
.card .text-area {
  margin: 1.5625rem;
}
.card:hover figure {
  background: #0088E8;
}
.card:hover button {
  background: #0088E8;
}

form {
  width: 100%;
  padding: 3.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
form .input-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: "row";
  gap: 1.25rem;
  width: 100%;
  max-width: 37.5rem;
}
form input {
  padding: 1.25rem;
  width: 50%;
  border: 0;
}
form #message {
  max-width: 38.75rem;
  min-width: 18.75rem;
  height: 9.375rem;
  margin: 1.25rem 0;
  width: 77%;
  border: 0;
  padding: 1.25rem;
}

nav .container-fluid {
  min-height: 5rem;
  background: url(/landing-page/images/banner-bg.png) 0 0 no-repeat;
  background-size: cover;
  padding: 0 12rem;
}
nav .nav-item {
  margin: 0 1.5rem;
  position: relative;
}
nav .nav-item .nav-link:hover {
  color: #F55858;
}
nav #drop {
  position: relative;
  background: red;
}
nav #drop:hover {
  color: #fff;
}
nav #drop:hover .drop-links {
  display: inline-block;
}
nav .drop-links {
  display: none;
  background: black;
  position: absolute;
  top: calc(100% + 1rem);
  right: 0;
  width: 10rem;
  transform: translateX(4.6rem);
}
#drop:hover nav .drop-links, nav .drop-links:hover {
  display: inline-block;
}
nav .drop-links .sub-nav-link {
  margin: 1.5rem 1.1rem;
}

.hero {
  background: url(/landing-page/images/banner-bg.png) 0 -8.75rem no-repeat;
  background-size: cover;
  min-height: 40rem;
}
.hero .container {
  padding: 3rem 0;
}
.hero .container .text-area {
  padding: 0 3rem;
}
.hero .container .text-area p {
  margin: 3rem 0;
}
.hero .container .img-area {
  position: relative;
}
.hero .container .img-area figure {
  position: absolute;
  top: -2.875rem;
}

.about {
  padding: 7.5rem 0;
  border-bottom: 1px solid #eee;
}
.about .row .text-area {
  padding: 0 3.8125rem;
}
.about .row .text-area p {
  margin: 2rem 0;
}
.about .row .text-area p span {
  color: #009DD7;
}

.features {
  padding: 7.5rem 0;
}
.features .features-head-content {
  padding: 0 3.75rem;
}
.features .features-head-content p {
  margin: 1.25rem 0;
}
.features .list li {
  margin: 0.625rem;
}
.features .list li .row {
  width: 80%;
}
.features .list li .row .text-col {
  padding: 0;
}
.features .list li .row p {
  margin: 1.25rem 0;
}
.features .list li .row img {
  display: inline;
  width: 80%;
}

.services {
  padding: 7.5rem 0;
  margin: 0 1.25rem;
  background: #009DD7;
}
.faq {
  padding: 7.5rem 0;
}
.faq .faq-head {
  width: 50%;
  margin: 0 auto 8rem;
}
.faq .faq-head p {
  margin: 2.5rem 0 0;
}
.faq .text-area .content {
  margin: 2.5rem 0;
}
.faq .text-area span {
  display: block;
  margin: 0 0 1.25rem;
}

.map {
  background: #009DD7;
  padding: 0;
}
.map .map-area iframe {
  padding: 0;
  height: 40rem;
}
.map .form-area {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: "row";
}

.footer {
  padding: 2.5rem 0;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: "row";
}
.footer .container .social-media {
  display: flex;
}
.footer .container .social-media li {
  background: #00A3D4;
  padding: 15px 20px;
  margin: 0 10px;
  border-radius: 10px;
}
.footer .container .social-media li:hover {
  background: #0088E8;
}

.navbar {
  --bs-navbar-padding-y: 0;
}
.navbar .dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.accordion-area .accordion .accordion-button::after {
  display: none !important;
}
.accordion-area .accordion button {
  background: #eaeaea;
  margin: 0.625rem 0;
  display: flex;
  justify-content: space-between;
}
.accordion-area .accordion button:focus, .accordion-area .accordion button:active {
  outline: none;
  box-shadow: none;
}
.accordion-area .accordion button .icon i {
  transition: transform 0.3s ease-in-out;
  transform: rotate(0deg);
}
.accordion-area .accordion button.collapsed .icon i {
  transform: rotate(0deg);
}
.accordion-area .accordion button:not(.collapsed) .icon i {
  transform: rotate(90deg);
}
.accordion-area .accordion .accordion-item {
  background: #f4f4f4;
  border: 0;
}
.accordion-area .accordion .accordion-item:hover {
  border: 0;
}

.map .container {
  max-width: 111rem;
  padding: 0;
  margin: 0;
}

.services .container {
  position: relative;
  height: 100%;
  max-width: 96.25rem;
  padding: 1.25rem;
}
.services .swiper {
  width: 87.5rem;
  height: 25rem;
}
.services .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.services .swiper-button-next,
.services .swiper-button-prev {
  display: none;
}
.services .custom-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  cursor: pointer;
  background: #0088E8;
  padding: 0.625rem 0.9375rem;
  border-radius: 50%;
}
.services .custom-arrow.right-arrow {
  right: 0.625rem;
}
.services .custom-arrow.left-arrow {
  left: 0.625rem;
}/*# sourceMappingURL=style.css.map */