.navbar-brand {
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.navbar-brand:focus {
  text-decoration: none;
  color: #fff;
}

.navbar-nav .nav-item .nav-link {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
}

.hero .text-area {
  color: #fff;
}
.hero .text-area h1 {
  font-size: 4rem;
  font-weight: 400;
  line-height: 4.6875rem;
}
.hero .text-area p {
  line-height: 1.875rem;
  font-size: 1.1875rem;
}

.about .row .text-area p {
  font-size: 1.3125rem;
  line-height: 2.1875rem;
  color: #4a4a4a;
}

.features .row .text-area p {
  line-height: 1.875rem;
  color: #4a4a4a;
}
.features .row .text-area .list h6 {
  font-size: 1.3125rem;
}

.services .card .text-area {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

.discover-btn, .services .card .text-area button, .about .row .text-area button {
  min-width: 30%;
  padding: 0.625rem;
  border-radius: 1.5625rem;
  background: #00A3D4;
  color: #fff;
  text-transform: uppercase;
}
.discover-btn:hover, .services .card .text-area button:hover, .about .row .text-area button:hover {
  background: #0088E8;
}

.hero .row .text-area .find-out-btn {
  min-width: 30%;
  padding: 0.625rem;
  border-radius: 1.5625rem;
  background: #F55858;
  color: #fff;
  text-transform: uppercase;
}
.hero .row .text-area .find-out-btn:hover {
  background: #0088E8;
}

.services .card .text-area button:hover {
  color: #fff;
}

.card {
  border-radius: 0;
}
.card .img-area figure {
  background: #009DD7;
  padding: 20px;
  border-radius: 50%;
}
.card .text-area {
  margin: 1.5625rem;
}

nav .container-fluid {
  min-height: 5rem;
  background: url(/landing-page/images/banner-bg.png) 0 0 no-repeat;
  background-size: cover;
  padding: 0 12rem;
}
nav .nav-item {
  margin: 0 1.5rem;
  position: relative;
}
nav .nav-item .nav-link:hover {
  color: #F55858;
}
nav #drop {
  position: relative;
  background: red;
}
nav #drop:hover {
  color: #fff;
}
nav #drop:hover .drop-links {
  display: inline-block;
}
nav .drop-links {
  display: none;
  background: black;
  position: absolute;
  top: calc(100% + 1rem);
  right: 0;
  width: 10rem;
  transform: translateX(4.6rem);
}
#drop:hover nav .drop-links, nav .drop-links:hover {
  display: inline-block;
}
nav .drop-links .sub-nav-link {
  margin: 1.5rem 1.1rem;
}

.hero {
  background: url(/landing-page/images/banner-bg.png) 0.625rem -8.75rem no-repeat;
  background-size: cover;
  min-height: 40rem;
  margin: 0 0.5rem 0 0.06rem;
}
.hero .container {
  padding: 3rem 0;
}
.hero .container .text-area {
  padding: 0 3rem;
}
.hero .container .text-area p {
  margin: 3rem 0;
}
.hero .container .img-area {
  position: relative;
}
.hero .container .img-area figure {
  position: absolute;
  top: -5.875rem;
}

.about {
  padding: 7.5rem 0;
  border-bottom: 1px solid #eee;
}
.about .row .text-area {
  padding: 0 3.8125rem;
}
.about .row .text-area p {
  margin: 2rem 0;
}
.about .row .text-area p span {
  color: #009DD7;
}

.features {
  padding: 7.5rem 0;
}
.features .features-head-content {
  padding: 0 3.75rem;
}
.features .features-head-content p {
  margin: 1.25rem 0;
}
.features .list li {
  margin: 0.625rem;
}
.features .list li .row {
  width: 80%;
}
.features .list li .row .text-col {
  padding: 0;
}
.features .list li .row p {
  margin: 1.25rem 0;
}
.features .list li .row img {
  display: inline;
  width: 80%;
}

.services {
  padding: 7.5rem 0;
  margin: 0 1.25rem;
  background: #009DD7;
}

.navbar {
  --bs-navbar-padding-y: 0;
  margin: 0.5rem 0.438rem 0 0.688rem;
}
.navbar .dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.service {
  position: relative;
}

.swiper-container {
  position: relative;
  height: 100%;
  background: yellowgreen;
  overflow: hidden;
}

.swiper-wrapper {
  overflow: visible !important; /* Allows arrows to be placed outside */
  background: red;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: gray;
  opacity: 0.5;
}
.swiper-pagination .swiper-pagination-bullet-active {
  background-color: black;
  opacity: 1;
}

.swiper-button-prev,
.swiper-button-next {
  font-size: 30px;
  color: #333; /* Change color */
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  transform: translateY(-50%);
  display: none;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  background: rgba(0, 0, 0, 0.5);
}
.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.swiper-button-prev {
  position: absolute;
  left: -60px;
  z-index: 100;
}/*# sourceMappingURL=style.css.map */