*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



@import './variables';  
@import './mixins';  
@import './functions';  
@import './maps';  

.btn{
    display: inline-block;
    width: 205px;
    // background: lightblue;
    color: #fff;
    //     &:hover{
    //    background: darken( lightblue, 50%); 
    // }
}

div{
    button{
        @extend .btn
    }
};

// body{
//     background:$var-body-color
// }

nav{
    ul{
        display: flex;
        list-style: none;
        li{
            margin: 0 10px;
            a{
                text-decoration: none;
                font-size: map-get($map: $font-size, $key: "desktop" );
                color: $fc;
            }
        }
    }
}

div{
    button{
        @extend .btn
    }
}