.card {
  border-radius: 0;
  width: px-to-rem(500px);
  height: px-to-rem(395px) ;
  padding: px-to-rem(20px);

  .img-area {
    margin: 0 auto;
    figure {
      background: $var-primary-bg;
      padding: px-to-rem(20px);
      border-radius: 50%;
      max-width: 100px;
    }
  }
  .text-area {
    margin: px-to-rem(25px);
  }
  &:hover {
    figure {
      background: $var-teritory-bg;
    }
    button {
      background: $var-teritory-bg;
    }
  }
}
