@function calculate-rem($size) {
    @return ($size / 16) * 1rem;
}

  .para {
    font-size: calculate-rem(32);
  }

.para::before{
    content: to-upper-case( "hello world");
}

.para::before {
    content: "Length: #{str-length('jack')}";  // Output: "Length: 4"
  }


// syntax
// .para::before{
//   content: str-slice($string: "", $start:, $end: )
// }
.para::before{
  content: str-slice("Frontend", 1, 5);
}
 
// Number to percentage

$ratio : 27;
.box{
  // width: percentage($ratio);
}


// round function
.box{
  // width:  round(90.6) * 2px; ;
}


// ceil function
.box{
  // width:  ceil(90.6) * 2px; ;
}

// floor function
.box{
  // width:  floor(90.6) * 2px; ; //output 180
}


// max function
.box{
  // width:  max(20,50,100) ; //output 100
}


// min function
.box{
  width:  min(80,50,200) ; //output 50
}

$colors: red, green, blue;

.para {
  color: nth($colors, 3);  // Output: blue
}

// Join

// $list1: 10px 20px;
// $list2: 30px 40px;

// .box {
//   padding: join($list1, $list2, space);  // Output: 10px 20px 30px 40px
// }


// Boolean function

$dark-mode: true;

body{
  background-color: if($dark-mode, #000 ,#fff);
  color:if($dark-mode,#fff ,#000)
}






