.navbar-brand {
  color: $secondary-text-color;
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  &:hover {
    text-decoration: none;
    color: $secondary-text-color;
  }
}

.navbar-nav {
  .nav-item {
    .nav-link {
      color: $secondary-text-color;
      font-size: px-to-rem(16px);
      font-weight: 500;
      text-transform: uppercase;
    }
  }
}

.hero {
  .text-area {
    color: $secondary-text-color;

    h1 {
      font-size: px-to-rem(64px);
      font-weight: 400;
      line-height: px-to-rem(75px);
    }
    p {
      line-height: px-to-rem(30px);
      font-size: px-to-rem(19px);
    }
  }
}

.about {
  .row {
    .text-area {
      p {
        font-size: px-to-rem(21px);
        line-height: px-to-rem(35px);
        color: $para-color;
      }
    }
  }
}

.features {
  .row {
    .text-area {
      p {
        line-height: px-to-rem(30px);
        color: $para-color;
      }
      .list {
        h6 {
          font-size: px-to-rem(21px);
        }
      }
    }
  }
}

.services {

  .card {
    .text-area {
      text-align: center;
    }
  }

  .custom-arrow{
    font-size: px-to-rem(24px);
    color: #fff;
  }

}

.faq {
  .faq-head {
    text-align: center;

    h2 {
      font-size: px-to-rem(48px);
      font-weight: 300;
    }
    p {
      font-size: px-to-rem(20px);
      color: $para-color;
    }
  }
  .text-area {
    h2 {
      font-size: px-to-rem(35px);
    }
    .content {
      p {
        font-size: px-to-rem(20px);
        color: $para-color;
        line-height: px-to-rem(30px);
      }
    }
  }
  span {
    font-size: 20px;
  }

  .accordion-area {
    .accordion  {
      font-size: px-to-rem(20px);
      button {
        font-size: px-to-rem(25px);
        &:not(.collapsed) {
          color: $var-teritory-bg;
        }
      }
    }
  }
}

.footer{
  .social-media{
    li{
      a{
        color: #fff;
        font-size: 20px;

    }
    }
  }
}
