@mixin common-btn($wide , $pad ,$boradius,$bg ,$cl ,$textCase){
    min-width: $wide;
    padding: $pad;
    border-radius: $boradius;
    background: $bg;
    color: $cl;
    text-transform: $textCase;

}

@mixin flexbox($dp ,$jc ,$ai ,$fd:"row"){
    display: $dp;
    justify-content: $jc;
    align-items: $ai;
    flex-direction: $fd;
}